<div id="bg">
  <!-- <img src="assets\b.jpg" alt="" style="background-position: center;
  background-repeat: no-repeat;  background-size:auto;
"> -->
  <div  class="signup-box"
    [ngStyle]="{background: 'url(https://cdn.cnn.com/cnnnext/dam/assets/161220105643-this-could-be-awkward-background-light-full-169.jpg)' }">
    <img src="../assets/avatar.png" class="avatar">
    <h1 class="text-dark">signup Here</h1>
    <form [formGroup]="signinForm" (ngSubmit)=" !doform.invalid && handleSignup()" #doform="ngForm">
      <span *ngIf="!ValidSignup" class="text-dark">
        {{errorMessage}}
      </span>
      <p class="text-dark">Username*</p>
      <input type="text" class="text-dark" name="username" placeholder="Enter Username" formControlName="username">
      <span *ngIf="!signinForm.get('username').valid && signinForm.get('username').touched" class="text-danger">
        Please Enter a Valid username
      </span>
      <p class="text-dark">Role*</p>
      <select name='userRole' formControlName="userRole">
        <option *ngFor="let i of RoleList" [value]="i.id">{{i.roleName}}</option>
      </select>
      <p class="text-dark">Email*</p>
      <input type="text" class="text-dark" name="username" placeholder="Enter Username" formControlName="email">
      <span *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched" class="text-danger">
        Please Enter a Valid Email
      </span>
      <p class="text-dark">Password*</p>
      <input type="password" name="password" class="text-dark" placeholder="Enter Password" formControlName="password">
      <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched" class="text-danger">
        Please Enter a Valid password
      </span>
      <p class="text-dark">Confirm Password*</p>
      <input type="password" name="confirmPassword" class="text-dark" placeholder="confirm password" formControlName="confirmPassword">
      <span *ngIf="signinForm.get('confirmPassword').touched && !checkPasswords()" class="text-danger">
        Passwords did'nt match
      </span>
      <input type="submit" name="submit" value="signup">

    </form>
  </div>
</div>
