<div class=" container row text-center">

  <div class="col-lg-4 col-sm-12 col-md-4">
    <div class="card mb-4 " >
      <img class="card-img-top" src='../assets/expenses.jpg' alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Upload Expenses</h4>
      </div>
    <a routerLink='uploadExpenses' class="btn btn-primary text-center mx-5 mb-3" style="border-radius: 5em;">Upload</a>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-4">
      <div class="card mb-4 " >
        <img class="card-img-top" src='../assets/expenses.jpg' alt="Card image">
        <div class="card-body">
          <h4 class="card-title">View Reports</h4>
        </div>
      <a routerLink='report' class="btn btn-primary text-center mx-5 mb-3" style="border-radius: 5em;">Report</a>
      </div>
      </div>

</div>
